* {
    font-family: 'Dosis', sans-serif;
}

.center {
    text-align: center;
}


.header {
    height: 70px;
    background-color: transparent;
    transition: all .4s;
}

.header nav {
    text-align: center;
    line-height: 70px;
}

.header nav a {
    color: white;
    font-size: 2em;
    margin-left: 10px;
    margin-right: 10px;
    transition: all .3s;
}

#logo {
    height: 60px;
    position: relative;
    top: -5px;
}

.header nav a:hover {
    text-decoration: none;
    opacity: .7;
}

.header nav a:first-child {
    float: left;
}

.header nav a:last-child {
    float: right;
    display: none;
}




.welcome-wrapper-one {
    min-height: 75vh;
    background: #0F9FF3;
    background: -webkit-linear-gradient(left top, #0F9FF3, #7CC6F1);
    background: -o-linear-gradient(bottom right, #0F9FF3, #7CC6F1);
    background: -moz-linear-gradient(bottom right, #0F9FF3, #7CC6F1);
    background: linear-gradient(to bottom right, #0F9FF3, #7CC6F1);
    padding: 10% 10%;
}

.welcome-wrapper-one h2 {
    color: white;
    font-size: 5em;
    text-indent: 15%;

}
.welcome-wrapper-one button {
    font-size: 3em;
    margin-top: 5%;
    background-color: transparent;
    color: white;
    border: 4px solid white;
    padding: 7px;
    transition: all .4s;
}

.welcome-wrapper-one button:hover {
    background-color: white;
    color: #0F9FF3;
}

.welcome-sub-nav {
    height: 70px;
    background-color: #377ADA;
}

.welcome-sub-nav nav {
    text-align: center;
    line-height: 70px;
}

.welcome-sub-nav nav a {
    color: #7CC6F1;
    margin-right: 7px;
    margin-left: 7px;
    font-size: 1.5em;
}

.welcome-sub-nav a:hover {
    text-decoration: none;
}

.selected {
    background-color: white;
    text-decoration: none;
    padding: 10px;
    padding-bottom: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.welcome-our-team-wrapper {
    padding: 5% 10%;
}

.our-team-intro {
    text-align: center;
    color: #377ADA;
    margin-bottom: 50px;
    font-size: 3em;
}

#team-member-list {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

#team-member-list li {
    display: inline-block;
    padding: 5px;
}

.member-wrapper {
    border: 1px solid #7CC6F1;
    background: #0F9FF3;
    background: -webkit-linear-gradient(left top, #0F9FF3, #7CC6F1);
    background: -o-linear-gradient(bottom right, #0F9FF3, #7CC6F1);
    background: -moz-linear-gradient(bottom right, #0F9FF3, #7CC6F1);
    background: linear-gradient(to bottom right, #0F9FF3, #7CC6F1);
    width: 25vw;
    height: 400px;
    min-width: 250px;
    -webkit-transition: background .3s, height .5s;
    transition: background .3s, height .5s;
}

.member-picture-wrapper {
    height: 250px;
    width: 100%;
    background-size: cover;
    margin-bottom: 0;
}

.member-name {
    font-size: 2em;
    color: white;
    padding-bottom: 0;
    margin-bottom: 0;
}

.member-title {
    font-size: 1em;
    padding-top: 0;
    margin-top: 0;
    color: white;
}

.arrow {
    color: white;
    font-size: 1.4em;
    margin-top: -15px;
}

.member-bio {
    color: white;
    font-size: 1.5em;
    margin-top: 0;
    display: none;
    padding: 0 8%;
}

.welcome-what-we-do-wrapper {
    padding: 60px 200px;
    display: none;
}

.welcome-what-we-do-wrapper dl {
    text-align: center;
}

.welcome-what-we-do-wrapper dl dt {
    color: #377ADA;
    font-size: 6em;
    font-weight: 100;
    border-radius: 50%;
    padding: 7px;
    width: 150px;
    height: 150px;
    display: inline;
}

.welcome-what-we-do-wrapper dl dd {
    color: #7CC6F1;
    font-size: 3em;
    margin-bottom: 50px;
}

.welcome-our-mission-wrapper {
    padding: 60px 200px;
    display: none;
}

.welcome-our-mission-wrapper h2 {
    font-size: 4em;
    text-align: center;
    color: #377ADA;
}

.welcome-our-mission-wrapper p {
    font-size: 3em;
    color: #7CC6F1;
}

.work-wrapper-one {
    min-height: 70vh;
    background: #0F9FF3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #0F9FF3, #7CC6F1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0F9FF3, #7CC6F1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0F9FF3, #7CC6F1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0F9FF3, #7CC6F1); /* Standard syntax */
}

.work-wrapper-one h2 {
    color: white;
    text-align: center;
    margin-top: 15%;
    font-size: 4em;
}

.work-wrapper-two {
    padding-top: 40px;
}

#portfolio-list {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

#portfolio-list li {
    margin-bottom: 20px;
}

.project-wrapper {
    height: 400px;
    width: 97vw;
    background-size: cover;
    background-attachment: fixed;
    border: 1px solid #0F9FF3;
}

.project-name {
    color: white;
    font-size: 3em;
    float: left;
    margin-top: 175px;
    padding-left: 150px;
    padding-right: 15px;
    background-color: rgba(0,0,0,.7);
}

.contact-wrapper-one {
    background: #0F9FF3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #0F9FF3, #7CC6F1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0F9FF3, #7CC6F1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0F9FF3, #7CC6F1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0F9FF3, #7CC6F1); /* Standard syntax */
    min-height: 60vh;
}

.contact-wrapper-one h2 {
    color: white;
    text-align: center;
    margin-top: 15%;
    font-size: 4em;
}

#contact-social-list {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: 100px;

}

#contact-social-list li {
    display: inline;
    margin: 0 15px;
}

#contact-social-list li a {
    color: white;
    font-size: 2.8em;
    opacity: .7;
    transition: all .3s;
}

#contact-social-list li a:hover {
    opacity: 1;
}

.contact-wrapper-two {
    padding-top: 75px;
    padding-bottom: 50px;
}

#contact-form {
    text-align: center;
}

#fName {
    margin-right: -5px;
    border: none;
    border-right: 5px solid #0F9FF3;
    border-bottom: 3px solid #0F9FF3;
}

#lName {
    margin-left: 0;
    border: none;
    border-bottom: 3px solid #0F9FF3;
}

.half {
    width: 40vw;
    outline: none;
    text-align: center;
    font-size: 3em;
}

.full {
    border: none;
    outline: none;
    border-bottom: 3px solid #0F9FF3;
    margin-top: 10px;
    text-align: center;
    font-size: 3em;
    width: 80vw;
}

#contact-form textarea {
    border: 3px solid #0F9FF3;
    height: 350px;
    margin-top: 50px;
    resize: none;
}

#contact-form select {
    border: none;
    background-color: #7CC6F1;
}

#contact-form button {
    background-color: #0F9FF3;
    color: white;
    transition: all .4s;
    border: none;
}

#contact-form button:hover {
    background-color: #377ADA;
}

#contact-form input::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder{
    color: #7CC6F1;
}















.footer-div {
    height: 300px;
    background-color: #377ADA;
}


#footer-left-list {
    text-align: center;
    padding-left: 0;
    list-style-type: none;
    padding-top: 100px;
}

#footer-left-list li a {
    color: white;
    opacity: .7;
    font-size: 2.5em;
    transition: all .4s;
}
#footer-left-list li a:hover {
    opacity: 1;
}

.footer-center-div {
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding-top: 125px;
}

#footer-contact-list {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

#footer-contact-list li {
    display: inline;
    margin: 0 20px;
}

#footer-contact-list li a {
    color: white;
    font-size: 3em;
    transition: all .3s;
    opacity: .7;
}

#footer-contact-list li a:hover {
    opacity: 1;
}

#footer-copyright {
    vertical-align: baseline;
    margin-top: 85px;
    color: white;
}

.footer-right-div form {
    text-align: center;
    margin-top: 90px;
}

.footer-right-div form p {
    text-align: center;
    color: white;
    font-size: 2em;
}

.footer-right-div input {
    font-size: 2em;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    color: white;
}

.footer-right-div input::-webkit-input-placeholder {
    color: white;
    opacity: .7;
}

.footer-right-div button {
    background-color: transparent;
    color: white;
    opacity: .7;
    border: none;
    outline: none;
    font-size: 3em;
    transition: all .3s;
    visibility: hidden;
}

.footer-right-div button:hover {
    opacity: 1;
}





.mini-footer {
    background-color: #377ADA;
    display: none;
}

.mini-footer button {
    text-align: center;
    background-color: transparent;
    border: 3px solid white;
    margin-top: 50px;
}

.mini-footer button a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.mini-footer ul {
    text-align: center;
    padding-left: 0;
    list-style-type: none;
    margin-top: 15px;
}

.mini-footer ul li {
    display: inline;
    margin: 0 7px;

}

.mini-footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    opacity: .8;
}

.mini-footer p {
    color: white;
    text-align: center;
    opacity: .7;
}


.responsive-menu {
    background-color: #0F9FF3;
    transition: all .3s;
    height: 0;
}

.responsive-menu ul {
    text-align: center;
    padding-left: 0;
    list-style-type: none;
    margin-top: 100px;
}

.responsive-menu ul li {
    margin-bottom: 25px;
}

.responsive-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}





/*Media queries*/

@media (max-width: 1100px) {
    #logo {
        height: 40px;
        width: 45px;
    }
}


@media (max-width: 775px) {

    #logo {
        height: 40px;
        width: 45px;
    }

    .header {

    }

    .header nav a:nth-child(2),.header nav a:nth-child(3),.header nav a:nth-child(4) {
        display: none;
    }
    
    .header nav a:last-child {
        display: inline-block;
        opacity: 1;
    }

    .header nav a:hover {
        opacity: 1;
    }


    .welcome-wrapper-one {
        min-height: 35vh;
    }
    .welcome-wrapper-one h2 {
        font-size: 2em;
        margin-top: 25%;
    }
    .welcome-wrapper-one button {
        font-size: 1.3em;
        margin-top: 5%;
    }
    .welcome-sub-nav nav a {
        font-size: 1.2em;
        margin: 0 3px;
    }
    .welcome-our-team-wrapper {
        padding: 5%;
    }
    .our-team-intro {
        font-size: 2.3em;
        margin-bottom: 25px;
    }
    .member-wrapper {
        width: 90vw;
    }
    .member-name {
        font-size: 1.8em;
    }
    .member-title {
        font-size: 1.3em;
    }
    .welcome-what-we-do-wrapper {
        padding: 10%;
    }
    .welcome-what-we-do-wrapper dl dt {
        font-size: 5.5em;

    }
    .welcome-what-we-do-wrapper dl dd {
        font-size: 1.8em;
    }
    .welcome-our-mission-wrapper {
        padding: 10%;
    }
    .welcome-our-mission-wrapper h2 {
        font-size: 3.5em;
    }
    .welcome-our-mission-wrapper p {
        font-size: 1.8em;
        text-align: center;
    }
    .work-wrapper-one {
        min-height: 50vh;
    }
    .work-wrapper-one h2 {
        font-size: 2.3em;
        margin-top: 0;
        padding-top: 20vh;
    }
    .work-wrapper-two {
        padding-top: 5px;
    }
    .project-wrapper {
        width: 93vw;
        height: 200px;
    }
    .project-name {
        margin-top: 75px;
        padding-left: 10vw;
        font-size: 2em;
    }
    .contact-wrapper-one h2 {
        font-size: 2em;
        margin-top: 0;
        padding-top: 20vh;
    }
    #contact-social-list {
        margin-top: 40px;
    }
    #contact-social-list li a {
        opacity: 1;
    }
    .contact-wrapper-two {
        padding-top: 20px;
    }
    #fName {
        border-right: none;
    }
    .half {
        width: 90vw;
        font-size: 2em;
    }
    .full {
        width: 90vw;
        font-size: 2em;
    }
    #contact-form button {
        background-color: #377ADA;
    }
    .footer-div {
        display: none;
    }
    .mini-footer {
        display: block;
    }
    .mini-footer button {
        text-align: center;
        background-color: transparent;
        border: 3px solid white;
        margin-top: 50px;
    }

    .mini-footer button a {
        text-decoration: none;
        color: white;
        font-size: 1.5em;
    }
}

@media (max-width: 350px) {
    .welcome-wrapper-one h2 {
        font-size: 1.7em;
    }
    .welcome-wrapper-one button {
        font-size: 1.1em;
    }
    .welcome-sub-nav nav a {
        font-size: 1em;
    }
    .our-team-intro {
        font-size: 1.8em;
    }
    .welcome-our-mission-wrapper h2 {
        font-size: 3em;
    }
    .welcome-our-mission-wrapper p {
        font-size: 1.3em;
    }
    .welcome-what-we-do-wrapper dl dd {
        font-size: 1.5em;
    }
    .half {
        width: 95vw;
        font-size: 1.5em;
    }
    .full {
        width: 95vw;
        font-size: 1.5em;
    }
    #contact-form textarea {
        height: 250px;
    }
}