<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-wrapper-one" id="welcome-top">
            <h2>Origami Digital is a full service web design and development agency specializing in creating stunning
            internet experiences.</h2>
            <div class="center">
                <button ng-click="loadWhatWeDo()">What We Do</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-cs-12 welcome-sub-nav">
            <nav>
                <a class="selected" id="our-team-link" ng-click="showOurTeamDiv()">Our Team</a>
                <a id="our-mission-link" ng-click="showOurMissionDiv()">Our Mission</a>
                <a id="what-we-do-link" ng-click="showWhatWeDoDiv()">What We Do</a>
                <!--<a id="our-process">Our Process</a>-->
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-our-team-wrapper">
            <h2 class="our-team-intro">
                The Origami team consists of individuals who are committed to excellence and experienced in their respective
                fields.
            </h2><br>
            <ul id="team-member-list">
                <li ng-repeat="member in team track by $index">
                    <div class="member-wrapper">
                        <div class="member-picture-wrapper" ng-style="{'background-image':'url({{member.photoUrl}})'}"></div>
                        <div class="member-title-wrapper">
                            <h2 class="member-name">{{member.name}}</h2><br>
                            <h2 class="member-title">{{member.title}}</h2><br>
                            <p class="arrow" ng-click="toggleBio($index)"><i class="fa fa-chevron-down" aria-hidden="true"></i></p><br>
                            <p class="member-bio">{{member.bio}}</p>

                        </div>
                    </div>

                </li>
            </ul>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-our-mission-wrapper">
            <h2>Our Mission</h2><br>
            <p>At Origami Digital, we work hard to ensure that our clients are prepared for the ever-changing
            digital landscape. For many of your customers your online impression will be the first, and potentially only
                impression, they will have to form an opinion of your company. It is our mission to make sure that their
                experience is aesthetically pleasing, user-friendly, effective and aligns well with your team's goals. </p>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-what-we-do-wrapper">
            <dl id="services-list">
                <dt><i class="fa fa-codepen" aria-hidden="true"></i></dt>
                <dd>Origami Digital offers a full suite of web design services. From wireframing to UI/UX consulting,
                we have what it takes to make sure your website not only looks beautiful, but feels intuitive and natural.</dd>
                <dt><i class="fa fa-code" aria-hidden="true"></i></dt>
                <dd>We specialize in creating amazing experiences for your online customers. That means using modern technologies
                to manage and deliver information in the most secure and efficient methods available.</dd>
                <dt><i class="fa fa-bullhorn" aria-hidden="true"></i></dt>
                <dd>What's more important than the name of your company? The branding of your company! Origami Digital can help ensure that
                you are achieving brand clarity/consistency in all facets of correspondence with your customers. </dd>
            </dl>
        </div>
    </div>
</div>



